@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Pacifico&family=Roboto&family=Montserrat&family=Open+Sans&display=swap");

base {
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@layer base {
  li {
    @apply px-4;
  }
  h3 {
    @apply text-3xl;
    @apply font-sans;
    @apply text-amber-900;
  }
  .para {
    font-family: "Noto Sarif", sans, sarif;
  }
  .usedTech {
    font-family: "Noto Sarif", sans, sarif;
  }
  .description {
    font-family: "Noto Sarif", sans, sarif;
  }
  .initials {
    font-family: "Pacifico", sans sarif;
  }

  .about-description {
    font-family: "Open Sans", sans sarif;
  }

  .skills {
    font-family: "Roboto", sans sarif;
  }
}
